.head-of-block {
    display: flex;
    align-items: top;
    margin-bottom: 10px;
}

.head-of-block p {
    font-size: medium;
    color: rgb(160, 159, 162);
}

.left-element {
    margin-right: 10px;
}

.right-element {
    margin-left: auto;
    height: 18px;
}