.crypto-container {
    width: 77%;
    background-color: rgb(30, 30, 32);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 21%;
    padding: 20px;
}

.up {
    display: flex;
    align-items: flex-start;
}

.up-inline {
    display: inline-block;
}

.coins-table {
    background-color: rgb(16, 16, 16);
    margin: 3.5%;
    padding: 2%;
    border-radius: 10px;
    font-size: small;
    box-shadow: -5px 5px 10px -5px rgb(16, 16, 16);
    height: auto;
}
  
.crypto-info {
    display: inline-block;
    align-items: center;
    margin-top: 1%;
    margin: 3.5%;
    padding: 2%;
    color: rgb(160, 159, 162);
    background-color: rgb(16, 16, 16);
    border-radius: 10px;
}

.crypto-info label {
    margin-bottom: 20px;
}

.crypto-info table {
    border-collapse: collapse;
}

.crypto-info table td {
    padding: 0;
}

#crypto-wallet-info {
    color: rgb(249, 250, 254);
    text-align: right;
}

.crypto-info select {
    border: none;
    color: rgb(249, 250, 254);
    background-color: rgb(16, 16, 16);
    text-align: right;
}

.actions-wallet {
    margin: 3.5%;
    padding: 2%;
    color: rgb(249, 250, 254);
    background-color: rgb(16, 16, 16);
    border-radius: 10px;
}

