.porfolio-container {
    display: flex;
    flex-direction: column;
    width: 77%;
    background-color: white;
}

.porfolio-balance {
    margin-left: 1%;
    margin-top: 1%;
}
.wallet {
    margin-left: 2%;
    width: 96%;
    /* border: 1px solid gray; */
}

.wallet-title {
    display: flex;
    margin-left: 4%;
}

.wallets-name {
    display: inline-block;
}

.wallets-create {
    margin-left: auto;
    margin-right: 2%;
}

.wallets-dropdown {
    width: 100%;
}

.wallets-dropdown button {
    margin-top: 1%;
    width: 100%;
    text-align: left;
    color: black;
    border: 1px solid rgb(48, 48, 48);
    background-color: white;
}
 #button-delete {
    border: 0;
    width: 32px;
    height: 32px;
 }

 