.user-container {
    display: flex;
    flex-direction: column;
    width: 77%;
    background-color: white;
    /* border: 2px solid red; */
}

.user-photo {
    position: relative;
    box-sizing: border-box;
    width: 154px;
    height: 154px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 40px;
}

.user-photo:hover {
    cursor: pointer;
}

.user-photo span {
    position: absolute;
    display: none;
    bottom: 15px;
    left: 17%;
    /* transform: translateX(-50%); */
}

.user-photo:hover span {
    display: inline;
}

.user-photo img {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    width: 100%;
}

.user-details {
    display: flex;
    width: 70%;
    margin-top: 3%;
    margin-left: 5%;
    /* border: 2px solid red; */
}

.user-details div {
    display: inline;
    width: 35%;
    margin-right: 10%;
    /* border: 2px solid black; */
}

