.stock-page {
    margin-top: 50px;
    margin-bottom: 50px;
}

.companies-container {
    display: flex;
}


.companies-search {
    /* display: flex; */
    padding: 10px 10px;
    /* align-items: center;
    vertical-align: middle;  */
    border: 2px solid red;
}


.form-control-dark {
    margin-left: 5%;
    width: 75%;
    margin-bottom: 10px;
}

.list-container {
    margin-left: 5%;
    width: 40%;
    background-color: white;
}

.company-container {
    margin-left: 10px;
    width: 25%;
    background-color: white;
    text-align: center;
}

/* .company-container select {

} */

.company-container table td {
    text-align: left;
    font-weight: bold;
    padding: 8px;
}

.company-container table td.data {
    text-align: right;
    font-weight: 300;
}

.company-container table tr:not(:last-child) {
    border-bottom: 1px solid rgb(219, 214, 214);
}

.buy-container {
    margin-left: 10px;
    width: 25%;
    background-color: white;
    text-align: center;
}

.purchase-container {
    padding: 30px;
}

.purchase-container div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* margin-left: 20px; */
}

.type-companies {
    background-color: #18c9ed;
    padding: 10px 10px;
}

.type-companies button {
    margin-left: 10px;
}

/* .buy-container div select {
    margin-left: 10px;
}

.buy-container input {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
} */